body{
 color: #f5f5f5;
 background-color: #222;
 font-style: arial;
}


h1{
 text-align: center;
}

p.main{
 font-style: italic;
 text-align: center;
}

em, a{
 color: #2DA6FF;
}

strong{
 color: #cc2222;
}

.ide{
 margin: 2em 20%;
 width: 60%;
}

#code{
 margin: 1em;
 width: 78%;
 height: 5em;
 padding: 1em;
}

.ide label, #code, .output{
 margin-left: 10%;
}

.buttons{
 width: 100%;
 text-align: center;
}

#html, #raw, #tree{
 width: 98%;
 margin: 1%;
}

pre{
 background-color: #eee;
}

.output label{
 margin: 0;
 font-weight: bold;
}

#footer{
 position: fixed;
 font-size: small;
 bottom: 1em;
 width: 100%;
 text-align: center;
}
